<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <input type="text" placeholder="Search..">
</div>

<section id="team" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">OUR TEAM</h5>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  
                                  <h4 class="card-title">Anu</h4>
                                  <p class="card-text">Madras University</p>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Shelly</h4>
                                  <p class="card-text">Bannari Amman institute of technology</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  
                                  <h4 class="card-title">Vaishu</h4>
                                  <p class="card-text">PSG College of Arts and Science</p>
                        
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Karthick</h4>
                                  <p class="card-text">Madurai Kamaraj University</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  
                                  <h4 class="card-title">Vignesh</h4>
                                  <p class="card-text">Sri Sakthi Engineering Colllege</p>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Ramya</h4>
                                  <p class="card-text">College of Engineering Guindy</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  
                                  <h4 class="card-title">Neha</h4>
                                  <p class="card-text">Sairam institute of technology</p>
                                  
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Divya</h4>
                                  <p class="card-text">Kongu Engineering College</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  
                                  <h4 class="card-title">Nick</h4>
                                  <p class="card-text">Karunya University</p>
                                
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Emma</h4>
                                  <p class="card-text">Vellore Institute of Technology</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                
                                  <h4 class="card-title">Jhon</h4>
                                  <p class="card-text">SRM Institute of Science and Technology</p>
                                
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Aarya</h4>
                                  <p class="card-text">Government College of Technology</p>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>
